@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    background-color:beige
}
h1 {
    background-color: #000305;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h2 {
    background-color: #D6EDFF;
    color: black;
    text-align: center;
}

p { font-size:  1.6rem;
    line-height: 1.5
}
/* estilos del header actualizacion afterclass*/ 


.header {
    width: 100%;
    height: 20vh;
    .contenedorNav {
        height: 20vh;
        background-color: #84DCC6;
        .logo{
            width: 200px;
            padding-top: 50px;
            padding-left: 10px;
        }
        .listaNav {
            list-style: none;
            text-align: center;
            .listaItem{
                display: inline-block;
                .linkNav:hover{
                    color: #000305;
                }
                .linkNav{
                    text-decoration: none;
                    color: white;
                    font-size: 1.5rem;
                    padding-right: 10px;
                    

                }
                
            }
            
        }
            
    }
    
    
}
/*con flexbox quedaria perfecto*/
.mainSection{
    width:94%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    .tarjetaProducto{
        display: inline-block;
        background-color: white;
        margin: 5px;
        text-align: center;
        color: #000;
        
        
        }
    }
.promocion{
    height: 300px;
    width: 300px;
}

.footer{
    background-color: rgb(41, 46, 49);
    color: #84DCC6;
    padding:10px;
    text-align: center;
    .icon{
        font-size: 3rem;
        color: #84DCC6;
        padding-right: 15px ;
    }
    .contenedorMapaInfo{
        margin:50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        .contenedorInfo{
            text-align: left;
            .parrafoInfoFooter{
                padding-bottom: 10px;
            }
        }
    }
  
}