/*mapa*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,700;1,900&display=swap");

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
  text-align: center;
  background-image: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
  background-size: 300%;
  animation: hola 10s infinite;
  border-radius: 10px 10px;
}

h2 {
  color: rgb(253, 253, 253);
  text-align: center;
  background-image: linear-gradient(90deg, hsla(198, 65%, 34%, 1) 0%, hsla(178, 44%, 32%, 1) 100%);
  background-size: 300%;
  animation: hola 10s infinite;
  border-radius: 10px 10px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.bgVerdeagua {
  background-color: #84DCC6;

}

.annimaciones {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {

  background-image: linear-gradient(90deg, hsla(184, 82%, 51%, 1) -100%, hsla(275, 77%, 70%, 1) 50%, hsla(351, 88%, 62%, 1) 100%);
  background-size: 500%;
  animation: hola 10s infinite;

}

@keyframes hola {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 50% 0%;
  }
}

header {
  background-color: #84DCC6;


}

header a {
  text-decoration: none;
  color: black;
}

header :hover {
  color: black;
}

main section .colorBlack {
  color: black;
}

main section .colorBlack .alto {
  height: 50vh;
}

main section .card:hover {
  transform: scale(1.05);
  z-index: 1;
}

main section .btn-color {
  background-color: #56A3A6;
  color: white;
  border: none;
}

main section .btn-color:hover {
  background-color: #084C61;
  color: white;
}

main section .btn-alt {
  background-color: #84DCC6;
  color: white;
  border: none;
}

main section .btn-alt:hover {
  background-color: #084C61;
  color: white;
}

main section .bordes {
  border-radius: 14px 14px 14px 14px;
}

footer {
  padding: 10px;
  color: white;
  background-color: #084C61;

}

footer .iconos {
  margin-top: 10px;
}

footer .iconos a {
  text-decoration-line: none;
  color: white;
  padding: 10px;
  font-size: 50px;
}

footer .iconos {

  .iconosWa a :hover {
    color: #4dc247
  }

  .iconosFa a :hover {
    color: #3b5998;
  }

  .iconosIn a :hover {
    color: #D43089
  }
}

footer .logo {
  height: 125px;
  width: 350px;
}

.button_slide {
  background-color: #084C61;
  color: #FFF;
  border: 2px solid #84DCC6;
  border-radius: 0px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #84DCC6;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #84DCC6;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #84DCC6;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #84DCC6;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #84DCC6;
}

.tarjetaProducto {
  width: 50vh;
}

.cardVM {
  background-color: #0003033b;
}

.cardVMT {
  object-fit: cover;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff;
}
@media (max-width: 768px) {
  .cardVMT{
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.cardVMP {
  object-fit: cover;
  text-align: center;
  color: #84dcc6;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #000b0f,
    0 0 20px #000b0f;
}

.cardVMTT {
  background-color: #0a0000bb;
  border-radius: 10px 10px;
}
#CarouselIndex {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom:20px;

}

.carousel-inner img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  #CarouselIndex {
      max-width: 100%;
  }
}
.ZoomIndex {

  transition: transform 0.6s ease;
  overflow: hidden;
}


.ZoomIndex:hover {
  transform: scale(1.059);
}
.cardQST {
  object-fit: cover;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #d400ff,
    0 0 20px #d400ff,
    0 0 40px #d400ff,
    0 0 80px #d400ff,
    0 0 120px #d400ff;
}
@media (max-width: 768px) {
  .cardQST{
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.cardQST1 {
  object-fit: cover;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #6200ff,
    0 0 20px #6200ff,
    0 0 40px #6200ff,
    0 0 80px #6200ff,
    0 0 120px #6200ff;
}
@media (max-width: 768px) {
  .cardQST1{
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.pCatalogo {
  background-color: #84dcc67c;
  border-radius: 10px 10px;
}

/*# sourceMappingURL=estilo.css.map */