@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    background-color: #b7c0c5
}
header {
    position:sticky;
    
}
h1 {
    background-color: #084C61;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h2 {
    background-color: #56A3A6;
    color: black;
    text-align: center;
}

p { font-size:  1.6rem;
    line-height: 1.5
}
.header {

        .link-glam:hover{
            color: rgb(41, 46, 49);
            background-color: rgb(247, 247, 247);
        } 
    
}
.bgVerdeagua {
    background-color: #84DCC6;
}
.colorBlack {
    color: black;
}
.alto {
    height: 50vh;
}

.tituloIndex{
    color: white;
    background-color: black;
}
.footer{
    background-color: rgb(41, 46, 49);
    color: rgb(247, 247, 247);
    .bg-copy{
        background-color: rgba(3, 43, 46, 0.486);;
    }
    
}
.footer a{
    color: rgb(247, 247, 247);
    text-decoration: none;
    font-size: 20px;
}
.footer ul{
    list-style: none;  
  }
.ricardo {
    background-image: url("../assets/img/fondo5.jpg");
    background-attachment: fixed;
}