footer {
    padding: 10px;
    color:$color-blanco;
    background-color: $color-terciario;
    
    .iconos {
        margin-top: 10px;
    }
    
    .iconos a {
        text-decoration-line: none;
        color:$color-blanco;
        padding: 10px;
        font-size: 50px;
    }
    
    
    .iconosWa a :hover {
            color: #4dc247
        }
    
    .iconosFa a :hover {
            color: #3b5998;
    }
    
    .iconosIn a :hover {
            color: #D43089
    }
    
    .logo {
        height: 125px;
        width: 350px;
    }
}