header {
    background-color: $color-primario;
    border-radius: 14px 14px 0px 0px;

    a {
        text-decoration: none;
        color: $color-negro;
    }

    :hover {
        color: $color-negro
    }
}

header a {
    text-decoration: none;
    color: $color-negro;
}

header a:hover {
    color: $color-negro
}