header {
    background-color: $color-primario;
    border-radius: map-get($bordes-hedfoo,bordearriba );

    a {
        text-decoration: none;
        color: $color-negro;
    }

    :hover {
        color: $color-negro
    }
}
