main { 
    .Fondo {
        background-image: url("../assets/img/fondo5.jpg");
        background-attachment: fixed;
    }
    
    section{
        
        .colorBlack {
            color: $color-negro;
            .alto {
                height: 50vh;
            }
        }
        .card:hover {
            transform: scale(1.05);
            z-index: 1;
        }
        .btn-color {
            background-color: $color-secundario;
            color: $color-blanco;
            border: none;
        }
        
        .btn-color:hover {
            background-color: $color-terciario;
            color: $color-blanco
        }
        
        .btn-alt {
            background-color:  $color-primario;
            color: $color-blanco;
            border: none;
        }
        
        .btn-alt:hover {
            background-color:$color-terciario;
            color: $color-blanco
        }
        .bordes {
            border-radius: 14px 14px 14px 14px;
        }
    }
    
    

}