main { 
    #CarouselIndex {
        max-width: 1600px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    
    .carousel-inner img {
        width: 100%;
        height: auto;
    }
    
    @media (max-width: 768px) {
        #CarouselIndex {
            max-width: 100%;
        }
    }
    .tarjetaProducto {
        width: 50vh;
    }
    .cardVM {
        background-color: #0003033b;
    }
    
    .cardVMT {
        object-fit: cover;
        text-align: center;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px #00b3ff,
            0 0 20px #00b3ff,
            0 0 40px #00b3ff,
            0 0 80px #00b3ff,
            0 0 120px #00b3ff;
    }
    @media (max-width: 768px) {
        .cardVMT {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    
    .cardVMP {
        object-fit: cover;
        text-align: center;
        color: #84dcc6;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px #000b0f,
            0 0 20px #000b0f;
    }
    
    .cardVMTT {
        background-color: #0a0000bb;
        border-radius: 10px 10px;
    }
    .ZoomIndex {
    
        transition: transform 0.6s ease;
        overflow: hidden;
    }
    
    
    .ZoomIndex:hover {
        transform: scale(1.059);
    }
    .cardQST {
        object-fit: cover;
        text-align: center;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px #d400ff,
            0 0 20px #d400ff,
            0 0 40px #d400ff,
            0 0 80px #d400ff,
            0 0 120px #d400ff;
    }
    
    @media (max-width: 768px) {
        .cardQST {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    
    .cardQST1 {
        object-fit: cover;
        text-align: center;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px #6200ff,
            0 0 20px #6200ff,
            0 0 40px #6200ff,
            0 0 80px #6200ff,
            0 0 120px #6200ff;
    }
    
    @media (max-width: 768px) {
        .cardQST1 {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    
    .pCatalogo {
        background-color: #84dcc67c;
        border-radius: 10px 10px;
    }
    section{
        
        .colorBlack {
            color: $color-negro;
            .alto {
                height: 50vh;
            }
        }
        .card:hover {
            transform: scale(1.05);
            z-index: 1;
        }
        .btn-color {
            background-color: $color-secundario;
            color: $color-blanco;
            border: none;
        }
        
        .btn-color:hover {
            background-color: $color-terciario;
            color: $color-blanco
        }
        
        .btn-alt {
            background-color:  $color-primario;
            color: $color-blanco;
            border: none;
        }
        
        .btn-alt:hover {
            background-color:$color-terciario;
            color: $color-blanco
        }
        .bordes {
            border-radius: 14px 14px 14px 14px;
        }
    }
    
    

}