h1 {
    background-color: $color-terciario;
    color: $color-blanco;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h2 {
    background-color: $color-secundario;
    color: $color-negro;
    text-align: center;
}

p { font-size:  1rem;
    line-height: 1.5
}
.bgVerdeagua {
    background-color: $color-primario;
}
.annimaciones {
    overflow: hidden;
  }