$tipografia-general:'Poppins', sans-serif;
$color-primario: #84DCC6;
$color-secundario:#56A3A6;
$color-terciario:#084C61;
$color-negro: black;
$color-blanco: white;
$color-fondo: #b7c0c5;


/*mapa*/
$bordes-hedfoo: ( 
    borderabajo: 0px 0px 14px 14px,
    bordearriba: 14px 14px 0px 0px,
)